# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

#Parune
/barony/icons/ @Parune
/icons/ @Parune
/yogstation/icons/ @Parune

#morrowwolf

/maps/ @morrowwolf

#Multiple Owners

/code/__DEFINES/MC.dm @morrowwolf @Altoids1
/code/__DEFINES/tick.dm @morrowwolf @Altoids1
/code/controllers/admin.dm @morrowwolf @Altoids1
/code/controllers/failsafe.dm @morrowwolf @Altoids1
/code/controllers/master.dm @morrowwolf @Altoids1
/code/controllers/subsystem.dm @morrowwolf @Altoids1
/code/controllers/subsystem/ @morrowwolf @Altoids1
/code/modules/keybindings/ @morrowwolf @Altoids1
/yogstation/code/controllers/ @morrowwolf @Altoids1
/yogstation/code/modules/keybindings/ @morrowwolf @Altoids1


